.container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
    font-style:italic;
    font-size: 26px;
    border:slategray;
    width: 900px;
    height: 400px;
}

.container-2{
    text-align: center;
    padding: 100px;
    font-style:italic;
    font-size: 26px;
}